.weather-name-data {
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
    vertical-align: middle;
}

.weather-input {
    color: white;
    border-radius: 50px;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.575);
    text-align: center;
    display: block;
    margin-top: 3%;
    width: 30%;
    height: 30px;
    background-color: rgba(104, 104, 104, 0);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.weather-coords {
    color: white;
    font-size: 20px
}

.weather-data-input {
    display: flex;
    flex: basic;
}

.weather-input-coords {
    display: flex;
}

.weather-input-coords > * {
    flex: 1 0 0;
    flex-direction: row;
    flex-wrap: nowrap;
}

.weather-name-data p {
    font-size: 2.6rem;
    color: white;
}

.weather-container {
    height: 700px;
}